<!-- Registration Start -->
<div class="container-fluid bg-registration py-5" style="margin: 90px 0;">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-7 mb-5 mb-lg-0">
                <div class="mb-4">
                    <h1 class="text-white">30% Off En Nuevas Inscripciones</h1>
                </div>
                <p class="text-white">Descubre una educación integral en todos los niveles en nuestra academia. Desde
                    los primeros pasos hasta la especialización, te ofrecemos un viaje educativo completo.
                </p>
                <p class="text-white">Únete a nosotros para explorar, crecer y alcanzar tus metas académicas.
                    ¡Bienvenido/a a una
                    comunidad de
                    aprendizaje en constante evolución!</p>
                <ul class="list-inline text-white m-0">
                    <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Docentes apasionados y comprometidos.
                    </li>
                    <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Aprendizaje personalizado en cada
                        nivel.</li>
                    <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Desarrollo de habilidades prácticas y
                        teóricas.</li>
                </ul>
            </div>
            <div class="col-lg-5">
                <div class="card border-0">
                    <div class="card-header bg-light text-center p-4">
                        <h1 class="m-0">Contactanos ahora</h1>
                    </div>
                    <div class="card-body rounded-bottom bg-primary p-5">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control border-0 p-4" placeholder="Nombre"
                                    required="required" />
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control border-0 p-4" placeholder="Correo Electrónico"
                                    required="required" />
                            </div>
                            <div class="form-group">
                                <select class="custom-select border-0 px-4" style="height: 47px;">
                                    <option selected>Selecciona un Nivel</option>
                                    <option value="1">Nivel Inicial</option>
                                    <option value="2">Nivel Secundario</option>
                                    <option value="3">Nivel Terciario</option>
                                </select>
                            </div>
                            <div>
                                <button class="btn btn-dark btn-block border-0 py-3" type="submit">Sign Up Now</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Registration End -->