body {
  margin-top: 50px;
  background-color: #fff;
  font-family: Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.01em;
  color: #39464e;
}

.navbar {
  background-color: #343a40; /* Cambia el color de fondo de la barra de navegación */
}

.navbar-brand {
  font-size: 24px;
}

.navbar-toggler-icon {
  background-color: #ffffff; /* Cambia el color del icono del botón de navegación */
}

.navbar-nav {
  margin-left: auto; /* Mueve los elementos de la barra de navegación hacia la derecha */
}

.nav-item {
  margin-left: 15px; /* Agrega un espacio entre los elementos del menú */
}

.nav-link {
  color: #ffffff; /* Cambia el color del texto del menú */
}

.nav-link:hover {
  color: #cccccc; /* Cambia el color del texto del menú al pasar el mouse por encima */
}

.nav-link i {
  margin-right: 5px;
}

.nav-link:hover i {
  color: #cccccc; /* Cambia el color del icono al pasar el mouse por encima */
}
