
<app-header></app-header>
<!-- Carousel Start -->
<div class="container-fluid p-0 pb-5 mb-5">
    <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#header-carousel" data-slide-to="1"></li>
            <li data-target="#header-carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" style="min-height: 300px;">
                <img class="position-relative w-100" src="../../../assets/img/ninos-aprendiendo.jpg"
                    style="min-height: 300px; object-fit: cover;">
                <div class="carousel-caption d-flex align-items-center justify-content-center">
                    <div class="p-5" style="width: 100%; max-width: 900px;">
                        <h1 class="display-3 text-white mb-md-4">La mejor forma de aprender</h1>
                        <a href="contact" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Contáctenos</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="min-height: 300px;">
                <img class="position-relative w-100" src="../../../assets/img/jovenes-estudiando.jpg"
                    style="min-height: 300px; object-fit: cover;">
                <div class="carousel-caption d-flex align-items-center justify-content-center">
                    <div class="p-5" style="width: 100%; max-width: 900px;">                       
                        <h1 class="display-3 text-white mb-md-4">Cultivando mentes, construyendo futuros.</h1>
                        <a href="contact" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Contáctenos</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="min-height: 300px;">
                <img class="position-relative w-100" src="../../../assets/img/jovenes-grandes.jpg"
                    style="min-height: 300px; object-fit: cover;">
                <div class="carousel-caption d-flex align-items-center justify-content-center">
                    <div class="p-5" style="width: 100%; max-width: 900px;">
                        <h1 class="display-3 text-white mb-md-4">Educamos para transformar, inspirando el cambio desde adentro.</h1>
                        <a href="contact" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Contáctenos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->

<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="assets/img/ninos-aprendiendo.jpg" alt="">
            </div>
            <div class="col-lg-7">
                <div class="text-left mb-4">
                    <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Sobre nosotros</h5>
                    <h1>Innovando en el aprendizaje</h1>
                </div>
                <p>Aliquyam accusam clita nonumy ipsum sit sea clita ipsum clita, ipsum dolores amet voluptua duo dolores et sit ipsum rebum, sadipscing et erat eirmod diam kasd labore clita est. Diam sanctus gubergren sit rebum clita amet, sea est sea vero sed et. Sadipscing labore tempor at sit dolor clita consetetur diam. Diam ut diam tempor no et, lorem dolore invidunt no nonumy stet ea labore, dolor justo et sit gubergren diam sed sed no ipsum. Sit tempor ut nonumy elitr dolores justo aliquyam ipsum stet</p>
                
            </div>
        </div>
    </div>
</div>

<!-- Inicio categoría Inicial -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-5">
            <h1>Todas las ventajas de nuestro Nivel Inicial</h1>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="../../../assets/img/cat-1.jpg" alt="">
                    <a class="cat-overlay text-white text-decoration-none" href="">
                        <h4 class="text-white font-weight-medium">Inglés desde el 1 año</h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="../../../assets/img/niniosArte.jpg" alt="">
                    <a class="cat-overlay text-white text-decoration-none" href="">
                        <h4 class="text-white font-weight-medium">Arte inicial</h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="../../../assets/img/ninosDeporte.jpg" alt="">
                    <a class="cat-overlay text-white text-decoration-none" href="">
                        <h4 class="text-white font-weight-medium">Deportes</h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="../../../assets/img/trabjoEquipo.jpg" alt="">
                    <a class="cat-overlay text-white text-decoration-none" href="">
                        <h4 class="text-white font-weight-medium">Trabajo en grupos</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin Categoría Inicial -->

<!--Comentarios-->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center mb-5">
                    <h1>Comentarios de personas</h1>
                </div>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Mnesaje</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let comentario of comentarios">
                        <th scope="row">{{ comentario.id }}</th>
                        <td>{{ comentario.nombre }}</td>
                        <td>{{ comentario.contenido }}</td>
                      </tr>
                      
                    </tbody>
                  </table>
                <div class="col-lg-12 scrollable-comments">
                    <div *ngFor="let comentario of comentarios" class="row">
                      <div class="col-lg-6 mb-4" >
                        <div class="cat-item position-relative overflow-hidden rounded mb-2">
                          <div class="cat-overlay p-4">
                            <h4 class="text-dark font-weight-medium">{{ comentario.nombre }}</h4>
                            <p class="mb-0">{{ comentario.contenido }}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                
                <!-- Dentro del div col-lg-12 para comentarios -->
                <form class="mb-4">
                    <div class="form-group">
                        <input type="text" id="nombre" class="form-control border-0 p-4" placeholder="Nombre" required>
                    </div>
                    <div class="form-group">
                        <textarea id="opinion" class="form-control border-0 p-4" placeholder="Opinión" rows="4" required></textarea>
                    </div>
                    <button id="enviar-opinion" class="btn btn-dark btn-block border-0 py-3 btn-change-color" type="button">Enviar opinion</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--Fin comentarios-->


<app-footer></app-footer>
