
<app-header></app-header>
<!-- Carousel Start -->
<div class="container-fluid p-0 pb-5 mb-5">
    <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#header-carousel" data-slide-to="1"></li>
            <li data-target="#header-carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" style="min-height: 300px;">
                <img class="position-relative w-100" src="../../../assets/img/ninos-aprendiendo.jpg"
                    style="min-height: 300px; object-fit: cover;">
                <div class="carousel-caption d-flex align-items-center justify-content-center">
                    <div class="p-5" style="width: 100%; max-width: 900px;">
                        <h1 class="display-3 text-white mb-md-4">La mejor forma de aprender</h1>
                        <a href="contact" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Contáctenos</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="min-height: 300px;">
                <img class="position-relative w-100" src="../../../assets/img/jovenes-estudiando.jpg"
                    style="min-height: 300px; object-fit: cover;">
                <div class="carousel-caption d-flex align-items-center justify-content-center">
                    <div class="p-5" style="width: 100%; max-width: 900px;">                       
                        <h1 class="display-3 text-white mb-md-4">Cultivando mentes, construyendo futuros.</h1>
                        <a href="contact" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Contáctenos</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="min-height: 300px;">
                <img class="position-relative w-100" src="../../../assets/img/jovenes-grandes.jpg"
                    style="min-height: 300px; object-fit: cover;">
                <div class="carousel-caption d-flex align-items-center justify-content-center">
                    <div class="p-5" style="width: 100%; max-width: 900px;">
                        <h1 class="display-3 text-white mb-md-4">Educamos para transformar, inspirando el cambio desde adentro.</h1>
                        <a href="contact" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Contáctenos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->

<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="assets/img/ninos-aprendiendo.jpg" alt="">
            </div>
            <div class="col-lg-7">
                <div class="text-left mb-4">
                    <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Sobre nosotros</h5>
                    <h1>Innovando en el aprendizaje</h1>
                </div>
                <p>En nuestra institución educativa, nos enorgullece ofrecer una educación de calidad en cada etapa del 
                    desarrollo de tu hijo. Desde el nivel inicial, donde fomentamos la curiosidad y el amor por el 
                    aprendizaje, hasta el nivel primario, donde construimos una base sólida en habilidades académicas 
                    y sociales, y finalmente, en el nivel secundario, donde preparamos a nuestros estudiantes para 
                    enfrentar los desafíos del futuro. Nuestra misión es brindar una educación integral que nutra el 
                    crecimiento de tus hijos y les prepare para un futuro brillante. 
                    Únete a nuestra comunidad educativa y acompáñanos en este viaje de descubrimiento y crecimiento.</p>                
            </div>
        </div>
    </div>
</div>

<!-- Inicio categoría Inicial -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-5">
            <h1>¡No te pierdas esta oportunidad única para estudiantes!</h1>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="../../../assets/img/course-5.jpg" alt="">
                    <a class="cat-overlay text-white text-decoration-none" routerLink="/contact">
                        <h4 class="text-white font-weight-medium">Inglés desde el 1° año</h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="../../../assets/img/niniosArte.jpg" alt="">
                    <a class="cat-overlay text-white text-decoration-none" routerLink="/contact">
                        <h4 class="text-white font-weight-medium">Arte inicial</h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="../../../assets/img/ninosDeporte.jpg" alt="">
                    <a class="cat-overlay text-white text-decoration-none" routerLink="/contact">
                        <h4 class="text-white font-weight-medium">Deportes</h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="../../../assets/img/trabjoEquipo.jpg" alt="">
                    <a class="cat-overlay text-white text-decoration-none" routerLink="/contact">
                        <h4 class="text-white font-weight-medium">Trabajos en grupo</h4>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="../../../assets/img/cat-1.jpg" alt="">
                    <a class="cat-overlay text-white text-decoration-none" routerLink="/contact">
                        <h4 class="text-white font-weight-medium">Programación</h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="../../../assets/img/cat-3.jpg" alt="">
                    <a class="cat-overlay text-white text-decoration-none" routerLink="/contact">
                        <h4 class="text-white font-weight-medium">Educación a Distancia</h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="../../../assets/img/course-1.jpg" alt="">
                    <a class="cat-overlay text-white text-decoration-none" routerLink="/contact">
                        <h4 class="text-white font-weight-medium">Material Didáctico</h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="../../../assets/img/course-3.jpg" alt="">
                    <a class="cat-overlay text-white text-decoration-none" routerLink="/contact">
                        <h4 class="text-white font-weight-medium">Alcanza Tus Metas</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Fin Categoría Inicial -->

<!--Comentarios-->
<div class="container-fluid pt-5 ">
    <div class="container pt-5">
        <div class="row ">
            <div class="text-center mb-5 container">
                <h1>Comentarios de personas</h1>
            </div>
            <div class="col-lg-12 ">
                <div class="col-lg-12 scrollable-comments" style="height: 100vh;">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Mnesaje</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let comentario of comentarios">
                            
                            <td>{{ comentario.nombre }}</td>
                            <td>{{ comentario.contenido }}</td>
                          </tr>                                             
                        </tbody>
                      </table>
                </div>
                
                <div class="col-lg-12">
                    <div *ngFor="let comentario of comentarios" class="row">
                      <div class="col-lg-6 mb-4" >
                        <div class="cat-item position-relative overflow-hidden rounded mb-2">
                          <div class="cat-overlay p-4">
                            <h4 class="text-dark font-weight-medium">{{ comentario.nombre }}</h4>
                            <p class="mb-0">{{ comentario.contenido }}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                
                
            </div>
            <!-- Dentro del div col-lg-12 para comentarios -->
        
        </div>
    </div>
</div>
<!--Fin comentarios-->

<div class="col-lg-5 container py-5">
    <div class="card border-0">
        <div class="card-header bg-light text-center p-4">
            <h1 class="m-0">Déjanos Tu Comentario</h1>
        </div>
        <div class="card-body rounded-bottom bg-primary p-5 mb-lg">
            <form #comentarioForm="ngForm" (ngSubmit)="insertar(comentarioForm.value)" novalidate>
                <div class="form-group">
                    <input type="text" id="nombre" class="form-control border-0 p-4" placeholder="Nombre"
                        [(ngModel)]="nombre" name="nombre" required>
                </div>
                <div class="form-group">
                    <textarea id="contenido" class="form-control border-0 p-4" placeholder="Mensaje" rows="4"
                        [(ngModel)]="contenido" name="contenido" required></textarea>
                </div>
                <div>
                    <button id="enviar-opinion" class="btn btn-dark btn-block border-0 py-3 btn-change-color"
                        type="submit">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<app-footer></app-footer>
